/* Example userChrome.css file */

/* Import your desigrey components first */

@import url(chrome/tab_close_button_always_on_hover.css);
@import url(chrome/tab_loading_progress_throbber.css);
@import url(chrome/button_effect_scale_onclick.css);
@import url(chrome/blank_page_background.css);
@import url(chrome/autohide_menubar.css);
@import url(chrome/hide_toolbox_top_bottom_borders.css);
@import url(chrome/vertical_context_navigation.css);
@import url(chrome/minimal_popup_scrollbars.css);
@import url(chrome/button_effect_icon_glow.css);
@import url(chrome/dark_context_menus.css);
@import url(chrome/dark_additional_windows.css);
@import url(chrome/dark_checkboxes_and_radios.css);
@import url(chrome/minimal_text_fields.css);
@import url(chrome/minimal_toolbarbuttons.css);
@import url(chrome/urlbar_centegrey_text.css);
@import url(chrome/hide_main_toolbar.css);


/* colors */

:root{
  /* Popup panels */
  --arrowpanel-background: black !important;
  --arrowpanel-border-color: black !important;
  --arrowpanel-color: white !important;
  --arrowpanel-dimmed: rgba(0,0,0,0.4) !important;
  /* window and toolbar background */
  --lwt-accent-color: black !important;
  --lwt-accent-color-inactive: black !important;
  --toolbar-bgcolor: rgba(0,0,0,1) !important;  
  /* tabs with system theme - text is not controlled by variable */
  --tab-selected-bgcolor: black !important;
  /* tabs with any other theme */
  --lwt-text-color: black !important;
  --lwt-selected-tab-background-color: rgb(1,1,1) !important;
  /* toolbar area */
  --toolbarbutton-icon-fill: white !important;
  --lwt-toolbarbutton-hover-background: orange !important;
  --lwt-toolbarbutton-active-background: grey !important;
  /* urlbar */
  --toolbar-field-border-color: black !important;
  --toolbar-field-focus-border-color: black !important;
  --urlbar-popup-url-color: black !important;
  /* urlbar Firefox < 92 */
  --lwt-toolbar-field-background-color: black !important;
  --lwt-toolbar-field-focus: black !important;
  --lwt-toolbar-field-color: grey !important;
  --lwt-toolbar-field-focus-color: white !important;
  /* urlbar Firefox 92+ */
  --toolbar-field-background-color: black !important;
  --toolbar-field-focus-background-color: black !important;
  --toolbar-field-color: grey !important;
  --toolbar-field-focus-color: white !important;
  /* sidebar - note the sidebar-box rule for the header-area */
  --lwt-sidebar-background-color: purple !important;
  --lwt-sidebar-text-color: yellow !important;
}
/* line between nav-bar and tabs toolbar,
    also fallback color for border around selected tab */
#navigator-toolbox{ --lwt-tabs-border-color: black !important; }
/* Line above tabs */
#tabbrowser-tabs{ --lwt-tab-line-color: white !important; }
/* the header-area of sidebar needs this to work */
#sidebar-box{ --sidebar-background-color: purple !important; }
/* test */



/* Apply your custom modifications after imports */

:root{
  --toolbar-bgcolor: rgb(0,0,0) !important;
  --uc-menu-bkgnd: var(--toolbar-bgcolor);
  --arrowpanel-background: var(--toolbar-bgcolor) !important;
  --autocomplete-popup-background: var(--toolbar-bgcolor) !important;
  --uc-menu-disabled: rgb(90,90,90) !important;
  --lwt-toolbar-field-focus: rgb(0,0,0) !important;
}

#sidebar-box{ --sidebar-background-color: var(--toolbar-bgcolor) !important; }
window.sidebar-panel{ --lwt-sidebar-background-color: rgb(0,0,0) !important; }
